# **Importing the client file and Analysis**

In [4]:
import pandas as pd
df = pd.read_csv('Clientinput.csv')
df

   distance (in km)  days
0               170     3
1               210     4
2               330     6
3               420     8
4               520    10
5              1000    12

# **Importing the ML model**

In [6]:
import pickle
with open('/content/budgetmodel', 'rb') as f:
  reg = pickle.load(f)

## **Predict the data / output**

In [8]:
budgetdf = reg.predict(df)

In [9]:
df['budget'] = budgetdf
df

   distance (in km)  days        budget
0               170     3   7119.183890
1               210     4   9587.360890
2               330     6  16757.949126
3               420     8  22252.861685
4               520    10  28306.332803
5              1000    12  55585.029147

In [10]:
df.to_csv('Predicted budget.csv', index = False)